@import '../../../styling/mixins.scss';

:host(input-comp) {
	border: 1px solid red;
	border-radius: 20px;
	height: 100%;
    width: 100%;
	label {
		padding: 8px;
	}
	input {
		background-color: transparent;
		border: medium none;
		color: $textColor;
		height: 100%;
		outline: none;
		text-indent: 10px;
		width: 100%;
	}
}   