<div class="title" fxFlex="none" fxLayout="row">

	<h3 fxFlex="none" fxLayout="column" [innerHTML]="name"></h3>

</div>

<div class="product-image"
	 
	 fxFlex="none"
	 
	 fxLayout="column"
	 
	 [ngStyle]="{'background-image': 'url(' + defaultImage + ')'}">

	 <i class="fa fa-store" *ngIf="!defaultImage"></i>
	
</div>

<div class="product-context-content"

	 fxFlex="none"
	 
	 fxLayout="column">
	
	<div class="stats" fxFlex="none" fxLayout="row">

		<div class="price" fxFlex fxLayout="row">

			<i class="fa fa-tags"></i>

			<span>{{price | currency:'USD':'symbol':'4.2-2'}}</span>

		</div>

		<div class="discount" fxFlex="none" fxLayout="row">

			<i class="fa fa-tag"></i>

			<span>{{discount}}%</span>

		</div>

		<div class="actions" 
		
			 fxFlex 
			 
			 fxLayout="row" 
			
			 fxLayoutAlign="end center">

			<add-to-cart #addToCartComp

						 fxFlex="none"

						 fxLayout="row"
			
						 [quantity]="_quantity"
						 
						 (quantityUpdated)="onQuantityUpdated($event)"></add-to-cart>
			
		</div>

	</div>

	<div class="description" 
		
		 fxFlex="none" 
		 
		 fxLayout="row"
		 
		 [innerHTML]="description"></div>
	
</div>