<div class="fa fa-cart-arrow-down" 
			
	fxFlex="none" 
	
	fxLayout="column" 
	
	fxLayoutAlign="center center"

	*ngIf="!quantity || quantity <= 0"
	
	(click)="onAdd()"></div>

<div class="quantity-manager" 

	fxFlex 
	
	fxLayout="row"
	
	*ngIf="quantity && quantity > 0"

	[ngClass]="{'overlay': mouseoverElem}"
	
	(mouseenter)="mouseoverElem = true"
	
	(mouseleave)="mouseoverElem = false">
		
	<div class="box fa fa-minus" 

		fxFlex="none" 
		
		fxLayout="column"

		fxLayoutAlign="center center"

		*ngIf="mouseoverElem"
		
		(click)="onMinus()"></div>

	<div class="box value" 

		fxFlex="none" 
		
		fxLayout="column"
		
		fxLayoutAlign="center center">{{_quantity}}</div>

	<div class="box fa fa-plus" 

		fxFlex="none" 
		
		fxLayout="column"

		fxLayoutAlign="center center"

		*ngIf="mouseoverElem"
		
		(click)="onAdd()"></div>

</div>