@import '../../../styling/mixins.scss';

:host(add-to-cart) {
    position: relative;
    .quantity-manager {
        background-color: #fff;
        border-radius: 4px;
        left: -41px;
        position: absolute;
        top: -27px;
        &.overlay {
            left: -113px;
            top: -26px; 
        }
        .box {
            height: 40px;
            width: 40px;
        }
    }
}