<!--<div class="cc-options-list-inner"

	 fxLayout="column">

	<div class="cc-search-container" 

		 fxFlex="none"

		 fxLayout="row"
		
		 fxLayourAlign="center center">

		<cc-input #searchInputComp
		
				  class="message-input" 

				  fxFlex

				  fxLayout="row"

				  [icon]="searchLabel"
				
				  [placeholder]="'Search'"
				 
				  (keyup)="onSearch()"></cc-input>

	</div>

	<cc-tags-list class="cc-tab-content-inner"
				
				  fxLayout="row"

				  *ngIf="tags"
				
				  [tags]="tags"
				
				  (tagClicked)="onSelected($event)"></cc-tags-list>

	<div class="cc-not-found" 
	
		 fxLayout="row" 
		 
		 fxLayoutAlign="center center"
		 
		 *ngIf="showNotFound">

		<cc-tag fxLayout="column" 
				
				[label]="notFoundLabel" 
				 
				[text]="'No matching results'"></cc-tag>

	</div>

</div>-->
