@import '../../../styling/mixins.scss';

:host(product-list-item) {
	padding: 8px;
	.product-image {
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 4px;
		height: 40px;
		overflow: hidden;
		width: 40px;
	}
	.name {
		height: 100%;
		padding: 0 8px;
	}
}