<div class="product-image" 

     fxFlex="none"
     
     fxLayout="column"

     fxLayoutAlign="center center"
     
     [ngStyle]="{'background-image': 'url(' + image + ')'}">

     <i class="fa fa-store" *ngIf="!image"></i>

</div>

<div class="name" 

     fxFlex 
     
     fxLayout="column" 
     
     fxLayoutAlign="center start">

     <span [innerHTML]="name"></span>

</div>

<div class="price" 

     fxFlex="none"
     
     fxLayout="column"
     
     fxLayoutAlign="center start">

     <span [innerHTML]="price | currency:'USD':'symbol':'4.2-2'"></span>

</div>