@import '../../../styling/mixins.scss';

:host(checkbox) {
	cursor: pointer;
	margin: 0 8px 0 0;
	.checkbox {
		background-color: $inputBgColor;
		border-radius: 50%;
		box-shadow:  0 0 2px rgba(0, 0, 0, 0.2) inset;
		height: 16px;
		width: 16px;
		&.selected {
			background-color: $active;
		}
	}
	label {
		padding: 0 0 0 4px;
	}
}