<div fxFlex fxLayout="row">

	<span class="range-text" 
	
		  fxFlex="none" 
		  
		  fxLayout="column"
		  
		  fxLayoutAlign="center start">Showing {{range}} of {{totalItems}} {{itemName}}s</span>

	<!--<div class="page-size" fxFlex="none" fxLayout="row">

		<div class="page-size-text"
		
			 fxFlex="none" 
		
			 fxLayout="column">Page size</div>

		<div class="size-list" 
		
			 fxFlex 
			 
			 fxLayout="column">

			<div class="size-item" 
			
				 fxFlex 
				 
				 fxLayout="row" 

				 fxLayoutAlign="center center" 
				 
				 [ngClass]="{'selected': pageSize === 5}"

				 (click)="onPageSizeSelected(5)">5</div>

			<div class="size-item" 
			
				 fxFlex 
				 
				 fxLayout="row" 

				 fxLayoutAlign="center center" 
				 
				 [ngClass]="{'selected': pageSize === 10}"

				 (click)="onPageSizeSelected(10)">10</div>

			<div class="size-item" 
			
				 fxFlex 
				 
				 fxLayout="row"

				 fxLayoutAlign="center center"  
				 
				 [ngClass]="{'selected': pageSize === 25}"

				 (click)="onPageSizeSelected(25)">25</div>

			<div class="size-item" 
			
				 fxFlex 
				 
				 fxLayout="row"

				 fxLayoutAlign="center center"  
				 
				 [ngClass]="{'selected': pageSize === 50}"

				 (click)="onPageSizeSelected(50)">50</div>

			<div class="size-item" 
			
				 fxFlex 
				 
				 fxLayout="row"

				 fxLayoutAlign="center center"  
				 
				 [ngClass]="{'selected': pageSize === 100}"

				 (click)="onPageSizeSelected(100)">100</div>
			
		</div>

	</div>-->

</div>

<div class="page-list" 

	 fxFlex 
	 
	 fxLayout="row"
	 
	 fxLayoutAlign="end center"
	 
	 *ngIf="pageSetNum && lastPageSetNum">

	<div class="page page-jump fa fa-angle-double-left" 
	
		 fxFlex="none" 
		 
		 fxLayout="column"

		 fxLayoutAlign="center center"

		 *ngIf="pageNum > 1"
		 
		 (click)="onJumpToBeginning()"></div>
		 
	<div class="page page-back fa fa-chevron-left" 
	
		 fxFlex="none" 
		 
		 fxLayout="column"

		 fxLayoutAlign="center center"

		 *ngIf="pageNum > 1"
		 
		 (click)="onPageBackward()"></div>

	<div class="page" 
	
		 fxFlex="none" 
		 
		 fxLayout="column"

		 fxLayoutAlign="center center" 
		 
		 *ngIf="pageNum && pageSetMap[pageSetNum][0]"
		 
		 [ngClass]="{'selected': pageSetMap[pageSetNum][0] === pageNum}"
		 
		 (click)="onPage(pageSetMap[pageSetNum][0])">{{pageSetMap[pageSetNum][0]}}</div>

	<div class="page" 
	
		 fxFlex="none" 
		 
		 fxLayout="column"

		 fxLayoutAlign="center center" 
		 
		 *ngIf="pageNum && pageSetMap[pageSetNum][1]"
		 
		 [ngClass]="{'selected': pageSetMap[pageSetNum][1] === pageNum}"
		 
		 (click)="onPage(pageSetMap[pageSetNum][1])">{{pageSetMap[pageSetNum][1]}}</div>

	<div class="page" 
	
		 fxFlex="none" 
		 
		 fxLayout="column"

		 fxLayoutAlign="center center" 
		 
		 *ngIf="pageNum && pageSetMap[pageSetNum][2]"
		 
		 [ngClass]="{'selected': pageSetMap[pageSetNum][2] === pageNum}"
		 
		 (click)="onPage(pageSetMap[pageSetNum][2])">{{pageSetMap[pageSetNum][2]}}</div>

	<div class="page" 
	
		 fxFlex="none" 
		 
		 fxLayout="column"

		 fxLayoutAlign="center center" 
		 
		 *ngIf="pageNum && pageSetMap[pageSetNum][3]"
		 
		 [ngClass]="{'selected': pageSetMap[pageSetNum][3] === pageNum}"
		 
		 (click)="onPage(pageSetMap[pageSetNum][3])">{{pageSetMap[pageSetNum][3]}}</div>

	<div class="page" 
	
		 fxFlex="none" 
		 
		 fxLayout="column"

		 fxLayoutAlign="center center" 
		 
		 *ngIf="pageNum && pageSetMap[pageSetNum][4]"
		 
		 [ngClass]="{'selected': pageSetMap[pageSetNum][4] === pageNum}"
		 
		 (click)="onPage(pageSetMap[pageSetNum][4])">{{pageSetMap[pageSetNum][4]}}</div>

	<div class="page page-forward fa fa-chevron-right" 
	
		 fxFlex="none" 
		 
		 fxLayout="column"

		 fxLayoutAlign="center center"

		 *ngIf="numberOfPages >= 5 && pageNum < pageSetMap[lastPageSetNum][pageSetMap[lastPageSetNum].length - 1]"
		 
		 (click)="onPageForward()"></div>

	<div class="page page-jump fa fa-angle-double-right" 
	
		 fxFlex="none" 
		 
		 fxLayout="column"

		 fxLayoutAlign="center center"

		 *ngIf="pageNum < pageSetMap[lastPageSetNum][pageSetMap[lastPageSetNum].length - 1]"
		 
		 (click)="onJumpToEnd()"></div>

</div>