@import '../../styling/mixins.scss';

:host(store-front) {
    display: flex;
	flex: 1 1 auto;
	flex-direction: column !important;
	height: 100%;
	position: relative;
	width: 100%;
    .nav-bar {
        border: 1px solid red;
        height: 60px;
    }
    .main-content-container {
        border: 1px solid red;
        .left-menu-panel {
            border: 1px solid red;
            
        }
        .middle-panel {
            border: 1px solid red;
            .banner {
                border: 1px solid red;
                height: 200px;
            }
            .filter-bar {
                border: 1px solid red;
                height: 40px;
                padding: 8px;
            }
            .product-list-view{
                border: 1px solid red;
                overflow-y: scroll;
                overflow-x: hidden;
                product-card {
                    margin: 0 16px 16px 0;
                }
            }
        }
    }
    .right-menu-panel {
        border: 1px solid red;
    }
}