<div class="nav-bar" fxFlex="none" fxLayout="row"></div>

<div class="main-content-container" 

	 fxFlex 
	 
	 fxLayout="row">

	<div class="left-menu-panel" 
	
		 fxFlex="25"
		 
		 fxLayout="column"></div>

	<div class="middle-panel" 
	
		 fxFlex
		 
		 fxLayout="column">

		<div class="banner" fxFlex="none" fxLayout="row">

			<recommendeds-carousel fxFlex 
			
					  			   fxLayout="column"
					  
					  			   [products]="recommendeds"></recommendeds-carousel>

		</div>

		<div class="filter-bar" fxFlex="none" fxLayout="row">

			<input-comp fxLayout="row"
					
						[icon]="'fa fa-search'"
					
						[label]="'search'"
						
						[placeholder]="'search'"></input-comp>

		</div>

		<div class="product-list-view" fxFlex fxLayout="row wrap">

			<product-card fxFlex 
			
						  fxLayout="column"
						  
						  *ngFor="let product of products"
						  
						  [description]="product.description"
	
						  [defaultImage]="product.defaultImage"

						  [discount]="product.discount"

						  [images]="product.images"

						  [name]="product.name"
						
						  [price]="product.price"></product-card>

		</div>
		
	</div>

	<div class="right-menu-panel" 
	
		 fxFlex="25"
		 
		 fxLayout="column">
		
		<shopping-cart fxFlex 
		
					   fxLayout="column" 

					   *ngIf="cartOrder"
					   
					   [order]="cartOrder"></shopping-cart>
		
	</div>
	
</div>
